html {
    --beige: #F5F5DC;
    --beige-dark: #CDA572;
    --gray-light: #f2f2f2;

}
body{
    font-family: 'crossorigin';
    background: var(--beige);

}
h1{
    font: weight 1000px;
}

.panini-list {
    list-style: none;
  }
  
  .panini-list table {
    width: 100%;
  }
  
  .panini-list td {
    font-weight: bold;
  }
  
  .panini-list p {
    font-style: italic;
  }
  
  @media screen and (min-width: 800px) {
    .menus {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  