html {
    --beige: #F5F5DC;
    --beige-dark: #CDA572;
    --gray-light: #f2f2f2;
}
    
}
body{
    font-family: 'crossorigin';
    background: var(--beige);

}
h1{
  font: weight 2000px;
}
h2{
    font: weight 1000px;
}


.hotdrinks {
    list-style: none;
  }
  
  .hotdrinks table {
    width: 100%;
  }
  
  .hotdrinks td {
    font-weight: bold;
  }
  
  .hotdrinks p {
    font-style: italic;
  }
  
  @media screen and (min-width: 800px) {
    .menus {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: center;
    }
  }
  body {
    padding: 3rem;
  }
  .container {
    background-image: url('https://gra322-s22naomichandran.netlify.app/Charlies_project/images_charlies/charlies_cafe_bckgnd1.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
