html {
    --beige: #F5F5DC;
    --beige-dark: #CDA572;
    --gray-light: #f2f2f2;

}
body{
    font-family: 'crossorigin';
    background: var(--beige);

}
h1{
    font: weight 1000px;
}

.container {

  position: center;
  top: 50%;
  text-align: left;
  color: Black;
}

.top-left 
{
    position: absolute;
    top: 8px;
    left: 16px;
}